<div class="col py-3">

    <input type="hidden" value="<%= pending %>" id="pending">
    <input type="hidden" value="<%= shipped %>" id="shipped">
    <input type="hidden" value="<%= cancelled %>" id="cancelled">
    <input type="hidden" value="<%= delivered %>" id="delivered">

    <input type="hidden" value="<%= online %>" id="online">
    <input type="hidden" value="<%= cod %>" id="cod">
    <div class="mt-5">
      <div class="row">

        <div class="col-xl-6 col-12">
          <canvas id="myChart"></canvas>
        </div>
        <div class="col-xl-6 col-12">
          <canvas id="salse-revenue"></canvas>
        </div>

      </div>

      <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
      <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    
      <script>
    
        let pending = document.getElementById("pending").value;
        let shipped = document.getElementById("shipped").value;
        let delivered = document.getElementById("delivered").value;
        let cancelled = document.getElementById("cancelled").value;
    
        var myChart5 = new Chart("myChart", {
          type: "bar",
          data: {
            labels: ["Pending", "Shipped", "Delivered", 'cancelled'],
            datasets: [
              {
                backgroundColor: ["#C2C9C8", "#0B6464", "#515454", "#3E5A5A"],
                data: [pending, shipped, delivered, cancelled],
              },
            ],
          },
          options: {
            responsive: true,
    
          }
        });
    
    
    
    
        let cod = document.getElementById("cod").value;
        let online = document.getElementById("online").value;
    
        var myChart6 = new Chart('salse-revenue', {
          type: "bar",
          data: {
            labels: ["COD", "Online"],
            datasets: [
              {
                backgroundColor: ["#C2C9C8", "#515454"],
                data: [cod, online],
              },
            ],
          },
          options: {
            responsive: true,
          },
        });
      </script>







  
