<!-- header -->
<%- include('../partials/user_header')%>
    <!-- end header -->

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <h1>Change password</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <div class="container mt-100 w-25 border mb-100 ">
        <form action="/postChangePassword" method="post" id="form">
            <div class="d-flex justify-content-center mt-3">
                <h4>Change password</h4>
            </div>
            <% if(locals.invalid){ %>
                <p class="text-danger">
                    <%=invalid %>
                </p>
                <% } %>
            <div class="form-outline flex-fill mb-0 mt-5">
                <input type="text" required placeholder="Current password" name="currentPassword" id="currentPassword"
                    class="form-control" />
              
            </div>
            <div class="form-outline flex-fill mb-0 mt-5">
                <input type="password" required placeholder="Enter new password" name="newPassword" id="newPassword"
                    class="form-control" />
                    <div class="text-danger" id="passworderror"></div>
            </div>
            <div class="form-outline flex-fill mb-0 mt-5">
                <input type="password" required placeholder="Confirm new password" name="conNewPassword"
                    id="conNewPassword" class="form-control" />
                    <div class="text-danger" id="conpassworderror"></div>
            </div>

            <div class="d-flex justify-content-center mt-5 ">
                <button style="border: none; background-color: orange; color: aliceblue;" type="submit" class=" mb-4">Submit</button>
            </div>

        </form>
    </div>




    <!-- footer -->
    <%- include('../partials/user_footer')%>
        <!-- end footer -->


        <!-- jquery -->
        <script src="/assets/js/jquery-1.11.3.min.js"></script>
        <!-- bootstrap -->
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <!-- count down -->
        <script src="/assets/js/jquery.countdown.js"></script>
        <!-- isotope -->
        <script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
        <!-- waypoints -->
        <script src="/assets/js/waypoints.js"></script>
        <!-- owl carousel -->
        <script src="/assets/js/owl.carousel.min.js"></script>
        <!-- magnific popup -->
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- mean menu -->
        <script src="/assets/js/jquery.meanmenu.min.js"></script>
        <!-- sticker js -->
        <script src="/assets/js/sticker.js"></script>
        <!-- main js -->
        <script src="/assets/js/main.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

            <script src="./assets/js/changePasswordValidate.js"></script>

        </body>

        </html>