<!-- header -->
<%- include('../partials/user_header')%>
    <!-- end header -->

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <h1>Edit your profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->


     <!-- middle section -->
     <div  class="mt-150 mb-150">
      <div class="container mt-5 w-50 border ">
        <form action="" method="post" id="form" >
          <div class="d-flex justify-content-center">
            <h3>Update your profile</h3>
          </div>
          <div class="form-outline flex-fill mb-0 mt-4">
            <input type="text" placeholder="Name" name="name" id="product_name"
              class="form-control" />
          </div>
          <div class="form-outline flex-fill mb-0 mt-4">
            <input type="text" placeholder="Email" name="email" id="email" class="form-control" />
          </div>
          <div class="form-outline flex-fill mb-0 mt-4">
            <input type="text" placeholder="Phone" name="phonenumber" id="phone" class="form-control" />
            
          </div>
          <div class="form-outline flex-fill mb-0 mt-4">
            <label for="">Full adress</label>
            <input type="text" placeholder="House name" name="housename" id="housename" class="form-control" />
          </div>
          <div class="form-outline flex-fill mb-0 mt-4">
            <input type="text" placeholder="Area" name="area" id="area" class="form-control" />
          </div>
          <div class="form-outline flex-fill mb-0 mt-4">
            <input type="text" placeholder="Landmark" name="landmark" id="landmark" class="form-control" />
          </div>

          <div class="d-flex form-outline flex-fill mb-0 mt-4">
            <input type="text" placeholder="District" name="district" id="district" class="form-control" />
            <input type="text" placeholder="State" name="state" id="state" class="form-control" />
            
          </div>
          <div class="d-flex form-outline flex-fill mb-0 mt-4">
            <input type="text" placeholder="Pin code" name="pin" id="pin" class="form-control" />
            <input type="text" placeholder="Post office" name="postoffice" id="postoffice" class="form-control" />
            
          </div>
         
          <div class="d-flex justify-content-center mt-4 ">
            <button type="submit" class="btn btn-success ">Update</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>


     </div>

    <!-- end middle section -->

    <!-- footer -->
    <%- include('../partials/user_footer')%>
    <!-- end footer -->


    <!-- jquery -->
    <script src="http://localhost:5000/assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="http://localhost:5000/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="http://localhost:5000/assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="http://localhost:5000/assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="http://localhost:5000/assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="http://localhost:5000/assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="http://localhost:5000/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="http://localhost:5000/assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="http://localhost:5000/assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="http://localhost:5000/assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

</body>

</html>