<%- include('../partials/user_header')%>
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						
						<h1>THANKS FOR YOUR ORDER</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
    <div  class=" mt-100  d-flex justify-content-center">
        <p  class="text-success" style="font-size:30px" >Your Order has been placed</p>
    </div>
    
    <div  class=" d-flex justify-content-center">
    <img src="/adminimages/success.gif" height="300px" width="350px" alt="">
    </div>

    <div class="mt-1  mb-100 d-flex justify-content-center">
        <a class="btn btn-secondary" href="/orderDetails">view Orders</a>

    </div>

    	<!-- footer -->
	<%- include('../partials/user_footer')%>
	<!-- end footer -->
	
	
	
	<!-- jquery -->
	<script src="http://localhost:5000/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="http://localhost:5000/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="http://localhost:5000/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="http://localhost:5000/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="http://localhost:5000/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="http://localhost:5000/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="http://localhost:5000/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="http://localhost:5000/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="http://localhost:5000/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="http://localhost:5000/assets/js/main.js"></script>

</body>
</html>