<%- include('../partials/user_header')%>
	
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
      

    <!-- middle -->
    <div class="mt-100 mb-100">
        <div class="continer">
            <div class="d-flex align-items-center justify-content-center">
                <img src="/assets/img/payment-failed.png" alt="">
            </div>
            
        </div>
    </div>
    <!-- end middle -->

    <!-- footer -->
	<%- include('../partials/user_footer')%>

	<!-- end footer -->

	
	<!-- copyright -->

	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="/assets/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="/assets/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="/assets/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="/assets/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="/assets/js/sticker.js"></script>
	<!-- main js -->
	<script src="/assets/js/main.js"></script>

</body>
</html>